langchain
langchain-community
langchain_text_splitters
langchain-ollama
langchain-huggingface
faiss-cpu
pypdf
python-dotenv
rank-bm25 #for local retrieval
sentence-transformers #for local embedding generation
streamlit #for app